<h3> View Claim Details</h3>
<div>
    <div>
        <label> <b>claimId : </b></label> {{claim.claimId}}
    </div>
    <div>
        <label> <b> employeeName: </b></label> {{claim.employeeName}}
    </div>
    <div>
        <label> <b> date: </b></label> {{claim.date}}
    </div>
    <div>
        <label> <b> estimateLoss: </b></label> {{claim.estimateLoss}}
    </div>

    <div>
        <label> <b> claimStatus: </b></label> {{claim.claimStatus}}
    </div>

    <div>
        <label> <b> claimDepartment: </b></label> {{claim.claimDepartment}}
    </div>
    <div>
        <label> <b> companyApprovel: </b></label> {{claim.companyApprovel}}
    </div>


</div>